body {
    padding: 0;
    margin: 25px;
    background-color: white;

    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.sketchBoard {
    background: darkred;
    border-radius: 25px;
    padding: 35px 25px 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;

    width: 960px;
    height: 960px; 
}

.sketchContainer, .sketchButtons, .buttonContainer {
    width: 850px;
}

.sketchContainer {
    display: flex;
    flex-wrap: wrap;

    height: 750px;
}

.sketchButtons {
    display: flex;
    justify-content: space-between;
}

.sketchButton {
    background-color: white;
    width: 100px;
    height: 100px;
    border-radius: 55px;
}

.sketchBox {
    background-color: white;
    border: 1px solid black;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.resizeButton, .resetButton {
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

.boxHoveredOver {
    background-color: black;
}